 openapi: 3.0.3
info:
  title: Roxonn Platform API
  version: "1.0.0"
  description: >
    OpenAPI 3.0 specification for the Roxonn Platform.
    Includes authentication, repositories, wallet, blockchain, subscriptions, and referral endpoints.
servers:
  - url: https://api.roxonn.com
  - url: http://localhost:5000
    description: Local development (use HTTPS in production)

# Default security: require bearerAuth for authenticated endpoints unless overridden
security:
  - bearerAuth: []

paths:
 /api/auth/github:
    post:
      summary: Authenticate using GitHub OAuth
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  example: "github-oauth-code"
      responses:
        "200":
          description: Login success, returns JWT token object
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_in:
                    type: integer
                    example: 3600
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
